@{
    ViewBag.Title = "SMI";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Tiene la capacidad de manejar la información de una forma centralizada, obteniendo los datos de 
                todas las áreas del hospital y ofreciendo la posibilidad de ser visualizados y/o modificados en 
                los lugares deseados.
            </p>
        </div>
    </section>
}
<h3>Capacidades del sistema:</h3>
<section>
    <div>
        <h5>Perfiles de pacientes</h5>
        <img src="~/Images/prescription.png" width="60" height="60" />
        La creación de perfiles para los pacientes, ofrece la capacidad de mantener toda la información
        de dicho paciente centrada en un solo lugar, es decir, cada analisis, prueba o cualquier tipo de
        examen que se le haga al paciente, se alojara de manera digital en este perfil.
    </div>

    <div>
        <h5>Crear, modificar, eliminar</h5>
        <img src="~/Images/Edit-icon.png" width="60" height="60" />
        El Sistema Medico Integrado (SMI) ofrece a los doctores y enfermeras herramientas digitales,
        las cuales facilitan el manejo los datos e información de los pacientes, utilizando plantillas
        precreadas acorde a las necesidades de estos profesionales.
    </div>

    <div>
        <h5>Acceda desde cualquier lugar</h5>
        <img src="~/Images/cloud.png" width="60" height="60" />
        Debido a que el SMI esta alojado en la nube, el sistema tiene la versatibilidad de ser accedido
        desde cualquier lugar o equipo, de forma segura.
    </div>
</section>
